// Custom styles for the template builder content

// Make the panel title feel like a link that can be clicked on

.panel-title:hover {
  cursor: pointer;
}

.form-control-section-title {
  display: inline-block;
  width: 50%
}

.section-title-center-text {
  padding-top: 7px;
}

input.submitlink {
  background: transparent;
  border: 0;
  cursor:pointer;
  margin: 0;
  padding: 0;
  color: @link-color;
}

input.submitlink:visited {
  text-decoration: underline;
}

input.submitlink:hover {
  color: darken(@link-color, 15%);
  text-decoration: underline;
}
