// Custom styles for the template builder content

// Set the builder container to have a solid gray background
// and a min-height of 100% to make the background drop to the
// bottom of the page
.builder-container {
  border: 1px solid gray;
  border-bottom: none;
  min-height: 100%;
  padding-top: 37px;
  margin-top: -5px;
}

.glyphicon-remove {
  color: @brand-danger;
  margin-bottom: -15px;
  margin-right: 4px;
}

.builder-content-block {
  padding-bottom: 15px;
  padding-top: 5px;
}

