{% extends "builder/main.html" %}
{% import "macros.html" as macros %}

{% block subcontent %}

<div>
  <div class="row">

    <div class="col-sm-4">
      <h3>{{ template.title }}</h3>
      <form class="form" method="POST" action="{{ url_for('builder.configure_variables', template_id=template.id) }}">
        {{ form.csrf_token }}
        {% for field in form if not field.id == 'csrf_token' %}
          {{ field.label }}
          {{ macros.with_errors(field, class_="form-control") }}
        {% endfor %}
        <input class="btn btn-success" type="submit" value="Submit">
      </form>
    </div>

    <div class="col-sm-8">
      {% include "builder/preview-template.html" %}
    </div>
  </div>

</div>

{% endblock %}