{% extends "builder/main.html" %}

{% block subcontent %}

<div ng-controller="templateListCtrl">
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Another Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templates %}
      <tr id="template-{{ template.id }}">
        <td>{{ template.id }}</td>
        <td>This is the name of the template</td>
        <td>This is some categories and stuff</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{{ url_for('builder.edit_template', template_id=template.id) }}">Edit Text</a>
          <a class="btn btn-primary btn-sm" href="{{ url_for('builder.configure_variables', template_id=template.id) }}">Edit Variables</a>
          <a class="btn btn-danger btn-sm" ng-click="deleteTemplate({{ template.id }})">Delete Template</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
