{% extends "layout.html" %}

{% block content %}

  <div ng-app="builder">
    {% block subcontent %}{% endblock %}
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='lib/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/angular-sanitize/angular-sanitize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/controllers/templateListCtrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/controllers/builderTextCtrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/controllers/processBuilderCtrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderSubmit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderGetDataService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderFormatHtml.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderLocationHandler.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/messageBus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderControlsDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderContentDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderOptionsDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderProcessingContentDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderProcessingVariablesDirective.js') }}"></script>
{% endblock %}
