{% extends "layout.html" %}

{% block content %}

  <div ng-app="builder">
    {% block subcontent %}{% endblock %}
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='lib/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/controllers/newBuilderCtrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/controllers/processBuilderCtrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderSubmitService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/services/builderGetDataService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderControlsDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderContentDirective.js') }}"></script>
  <script src="{{ url_for('static', filename='js/builder/directives/builderOptionsDirective.js') }}"></script>
{% endblock %}