{% extends "builder/main.html" %}

{% import "macros.html" as macros %}

{% block subcontent %}

<h2>Create a Template</h2>

<form class="form" role="form" method="POST" action="/build/new">
  {{ form.csrf_token }}
  <label for="title">Template Title</label>
  {{ macros.with_errors(form.title, class_="form-control") }}
  <label for="description">Template Description</label>
  {{ macros.with_errors(form.description, class_="form-control") }}

  <hr />
  <input type="submit" class="btn btn-success" value="Submit!">
  <a href="#" class="btn btn-primary">Upload from Word</a>
  <a href="#" class="btn btn-info">Import from Google Docs</a>

</form>

{% endblock %}
