{% extends "builder/main.html" %}

{% block subcontent %}

<div ng-controller="newBuilderCtrl">
    <p class="lead text-center">Template Builder: Build a new template</p>

    <div class="container builder-container" ng-controller="newBuilderCtrl">
      <div class="row builder-controls">
        <builder-controls></builder-controls>
      </div>
      <form role="form">
        <builder-content class="row builder-content"></builder-content>
      </form>
      <div class="row builder-fix-bottom text-center">
        <div class="container">
          <a class="btn btn-success btn-sm" ng-click="saveTemplate()">Save Draft</a>
          <a class="btn btn-primary btn-sm" ng-click="processTemplate()">Process Template</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
