{% extends "generator/main.html" %}
{% import "macros.html" as macros %}

{% block subcontent %}

<div class="row" id="js-rivets-template">
  <div class="col-sm-4 variables-legend-container">
    <h3>Fill in Variables</h3>
    <form class="form-horizontal">
      {{ form.csrf_token }}
      {% for field in form if not field.id == 'csrf_token' %}
      <div class="form-group">
        <label for="[[{{ field.label }}]]" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ macros.with_errors(field, class_="form-control", **{'rv-value': field.rv_data_input }) }}
        </div>
      </div>
      {% endfor %}
    </form>
  </div>
  <div class="col-sm-8">
    {% include "generator/preview-template.html" %}
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ url_for('static', filename='lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/rivets/dist/rivets.bundled.min.js') }}"></script>
<script>
  var template = {
  {% for variable in variables %}
    {{ variable.rv_data_input | safe }}: '',
  {% endfor %}
  };
  rivets.bind(document.getElementById('js-rivets-template'), {template: template});
  $('.datepicker').datepicker({
    todayHighlight: true,
    format: 'yyyy-mm-dd',
    autoclose: true
  }).on('hide', function(e) {
    // manually bind the selected date to rivets
    template[$(this).attr('rv-value').split('.')[1]] = e.format();
  });
</script>
{% endblock %}