{% extends "generator/main.html" %}

{% block subcontent %}

<div class="container">
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templates %}
      <tr id="template-{{ template.id }}">
        <td>{{ template.title }}</td>
        <td>{{ template.description|truncate(120) }}</td>
        <td>
          <a href="{{ url_for('generator.new_document', template_id=template.id) }}" class="btn btn-default">
            Create Document
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
