{% import "macros.html" as macros %}

<div class="white-wrapper">
    <span class="span-title">{{ current_section.title }}</span>
    <button class="btn btn-success pull-right">Save</button>
<!--   <div class="well placeholder-index">
    <div class="row">
      <div class="col-md-2">
        <span class="index-legend"><b>Placeholder Index</b></span>
      </div>
      <div class="col-md-10">
        <form class="form">
          {{ form.csrf_token }}
          {% for field in form if not field.id == 'csrf_token' %}
          <div class="form-group">
            <label for="[[{{ field.label }}]]" class="control-label">{{ field.label }}</label>
            <div>
              {{ macros.with_errors(field, class_="form-control", **{'rv-value': field.rv_data_input }) }}
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div> -->
</div>

<div class="document-preview-content">
  <div class="section-content" id="section-{{ current_section.id }}">
  {% if current_section.section_type == 'text' or current_section.section_type == 'fixed_text' %}
    {% if current_section.text %}
      {{ current_section.text | safe }}
    {% endif %}
  {% endif %}
  </div>
</div>
