<div class="variables-container">
  <legend class="text-muted">Variables</legend>
  <div class="js-variable-sections" ng-repeat="section in variables">
    <div class="js-variable-boxes" ng-repeat="variable in section">
      <p class="text-muted legend-small">{[variable.variable]}</p>
      <select class="form-control input-sm" ng-options="type.display for type in dataTypes" ng-model="variable.type">
        <option value="">Select option</option>
      </select>
    </div>
    <div ng-hide="$last||$first">
      <hr />
    </div>

  </div>
</div>
