{% import "macros.html" as macros %}

<div class="new-section">
  <h4>Insert a new Blank Section</h4>
  <div class="dropdown">
    <button id="Blank Section" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default">
      Choose a Section Type
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      {% for type in new_section_form.type.choices %}
      <li><a href="{{ url_for('builder.new_section', template_id=template.id, section_type=type[0]) }}">{{ type[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="pad-30"></div>
  <h4>Insert Boilerplate Section</h4>
  <p class="text-muted"></p>
</div>
