{% import "macros.html" as macros %}

<div class="new-section">

  <h5>Get Started</h5>
  <p class="text-muted">These sections are editable, and typically found in most RFPs.</p>
  <a href="{{ url_for('builder.new_section', template_id=template.id, section_title='Introduction', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Introduction</a>
  <a href="{{ url_for('builder.new_section', template_id=template.id, section_title='Definitions', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Definitions</a>
  <a href="{{ url_for('builder.new_section', template_id=template.id, section_title='Instructions for Bidders', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Instructions for Bidders</a>

  <div class="pad-10"></div>

  <h5>Customize</h5>
  <p class="text-muted">These sections can be customized by you or a purchaser.</p>
  <div class="dropdown">
    <button id="Blank Section" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary form-control btn-default">
      Choose a Section Type
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      {% for type in new_section_form.type.choices %}
      <li><a href="{{ url_for('builder.new_section', template_id=template.id, section_type=type[0]) }}">{{ type[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="pad-10"></div>

  <h5>Add Boilerplate</h5>
  <p class="text-muted">These sections don't change over time.</p>
  <a href="{{ url_for('builder.new_section', template_id=template.id, boilerplate='CONTRACT_INFO', section_title='Basic Contract Information', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Basic Contract Information</a>
  <a href="{{ url_for('builder.new_section', template_id=template.id, boilerplate='INSTRUCTIONS_TO_BIDDERS', section_title='Instructions to Bidders', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Instructions to Bidders</a>
  <a href="{{ url_for('builder.new_section', template_id=template.id, boilerplate='NONDISCRIMINATION_CERTIFICATION', section_title='Nondescrimination Certification', section_type='text') }}" class="btn btn-primary btn-block btn-default">Insert Nondescrimination Certification</a>

</div>
