<!-- Modal -->
<div class="modal fade" id="variableModal" tabindex="-1" role="dialog" aria-labelledby="variableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="variableModalLabel">Add a new placeholder</h4>
      </div>

      <div class="modal-body">
        <div class="form form-horizontal">
          <div class="form-group">
            <label for="modalVariableName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control modal-variable-name" id="modalVariableName" placeholder="Enter a name for your variable">
            </div>
          </div>
          <div class="form-group">
            <label for="Type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
              <select class="form-control modal-variable-type">
                <option>Text</option>
                <option>Date</option>
                <option>Number</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-add-variable" data-dismiss="modal">Add Placeholder</button>
      </div>

    </div>
  </div>
</div>

<div>
  {{ form.widget }}
</div>
