<div class="panel panel-default">
  <div class="panel-heading" >
    <span class="panel-title">
      <span class="glyphicon {% if section.id == current_section.id %}glyphicon-pencil{% else %}glyphicon glyphicon-arrow-down js-glyphicon{% endif %}" aria-hidden="true" role="tab" id="heading{{ section.id }}" data-toggle="collapse" href="#collapse{{ section.id }}" aria-expanded="false" aria-controls="collapse{{ section.id }}"></span>
      {{ section.title }}
    </span>
    <span class="pull-right">
      <a href="{{ url_for('builder.edit_template', template_id=template.id, section_id=section.id) }}">Edit</a>
      <a class="text-danger" href="{{ url_for('builder.edit_template', template_id=template.id, section_id=section.id) }}">Delete</a>
    </span>
  </div>

  <div id="collapse{{ section.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ section.id }}">
    <div class="panel-body">
      {{ section.text | safe }}
    </div>
  </div>

</div>
